# dependencies
node_modules/
cache/
artifacts/
# don't track the contracts on shido directory because these are copied from the precompiles pkg of this repo
**/precompiles/contracts/shido/*

# ignore package-lock files (only use yarn.lock)
package-lock.json
!yarn.lock